{% extends "base.html" %}

{% block content %}
  <h2>Quiz: {{ stack.name }}</h2>
  <section>
    <div class="pa3 ba br3 b--mid-gray">
      <p>{{ card.prompt }}</p>
      <p><a href="#answer-{{ card.pk }}">Click to show answer</a></p>
      <div class="answer" id="answer-{{ card.pk }}">
        <p>{{ card.answer }}</p>
        <div class="flex">
          <form class="mr4" action="{% url 'card-results' card_pk=card.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{ form.correct.html_name }}" value="True">
            <button class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green">I got it right</button>
          </form>
          
          <form action="{% url 'card-results' card_pk=card.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{ form.correct.html_name }}" value="False">
            <button class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-red">I got it wrong</button>
          </form>
        </div>
      </div>
    </div>    
    <p>
      {% if user.is_authenticated %}
      Correct guesses: {{ times_correct }}<br>
      Incorrect guesses: {{ times_incorrect }}<br>
      {% endif %}
      Last shown at: {% if last_shown_at %}{{ last_shown_at }}{% else %}Never{% endif %}
    </p>
  </section>
{% endblock %}
