{% extends "core/base.html" %}

{% block content %}
  <h1 class="f2">Card stacks</h1>
  <div class="flex flex-wrap">
    {% for stack in stacks %}
    <div class="w-25-l w-50">
      <div class="ba br3 b--mid-gray pa3 ma3 tc">
        <h2 class="f3 mt0 mb2">
          <a href="{% url 'stack-detail' stack.pk %}">
            {{ stack.name }}
          </a>
        </h2>
        <div>{{ stack.card_set.count }} card{{ stack.card_set.count|pluralize }}</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <section>
    <h2>Create a new stack</h2>
    <form action="{% url 'stack-list' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <p>        
        <button type="submit">Create stack</button>
      </p>

    </form>
  </section>
{% endblock %}
