{% extends "core/base.html" %}

{% block content %}
  <h1>Card stacks</h1>
  <ul>
    {% for stack in stacks %}
      <li>
        <a href="{% url 'stack-detail' stack.pk %}">
          {{ stack.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <section>
    <h2>Create a new stack</h2>
    <form action="{% url 'stack-list' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <p>        
        <button type="submit">Create stack</button>
      </p>

    </form>
  </section>
{% endblock %}
