{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta %}{% endblock %}
  <title>{% block title %}Flashcards{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'tachyons.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <script src="{% static 'js.cookie.js' %}" defer></script>
  <script src="{% static 'flashcard.js' %}" defer></script>
  {% block head %}{% endblock %}
</head>
<body class="sans-serif center mv2 mw8">
  <header class="mt4 pv2 ph4 bg-yellow flex items-center justify-between">
    <h1 class="f2">
      <a class="mid-gray" href="/">Flashcards</a>
    </h1>
    <div>
      {% if request.user.is_authenticated %}
      Logged in as {{ request.user }} | <a href="{% url 'auth_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'auth_login' %}">Login</a> |
      <a href="{% url 'registration_register' %}">Register</a>
      {% endif %}
    </div>
  </header>
  
  {% if messages %}
    <section class="messages">
      {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </section>
  {% endif %}
  
  <main class="pv2 ph4">
    {% block content %}{% endblock %}  
  </main>
</body>
</html>
