<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta %}{% endblock %}
  <title>{% block title %}Flashcards{% endblock %}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <style>
    .answer {
      display: none;
    }

    .answer:target {
      display: block;
    }
  </style>
</head>
<body class="sans-serif center mv2 mw8">
  <header class="mt4 pv2 ph4 bg-yellow flex items-center justify-between">
    <h1 class="f2">
      <a class="mid-gray" href="/">Flashcards</a>
    </h1>
    <div>
      {% if request.user.is_authenticated %}
      Logged in as {{ request.user }} | <a href="{% url 'auth_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'auth_login' %}">Login</a> |
      <a href="{% url 'registration_register' %}">Register</a>
      {% endif %}
    </div>
  </header>
  <main class="pv2 ph4">
    {% block content %}{% endblock %}  
  </main>
</body>
</html>
